body{
    display:grid;
    background-color: black;
    color:white;
}
.grid{
    width: 100%;
    max-width:1200px;
    margin:auto;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(5,1fr);
    place-content:center;
    padding:1em;

}
.grid-2{
    width: 100%;
    max-width:1200px;
    margin:auto;
    display:grid;
    height:500px;
    border:2px solid blue;
    gap:10px;
    grid-template-columns: repeat(6,auto);
    overflow-y: hidden;
    justify-content: space-evenly;
    align-content:space-evenly;
    padding:1em;

}
.grid-item{
    padding:1em;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.grid-items{
    padding:1em;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:2rem;
}
.grid-3{
    width: 100%;
    max-width:1200px;
    margin:auto;
    display:grid;
   grid-template-areas: 'header header header header header'
   'menu main main main sidebar'
   'menu footer footer footer footer';
   gap:20px;
   padding:3em;
}
.grid-items-1{
    grid-area: header;
    background-color: blue;
    padding:2em;
}
.grid-items-2{
    grid-area: menu;
background-color:white;
color:black;
padding:2em;}
.grid-items-3{
    grid-area: main;
    background-color: red;
    padding:2em;
}
.grid-items-4{  
    grid-area: sidebar;
    background-color: green;
    padding:2em;
}
.grid-items-5{
    grid-area: footer;
    background-color: purple;
    padding:2em;
}
.grid-align-self{
    display:grid;
    background-color:lightcoral;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    width:100%;
    max-width: 1200px;
    margin:auto;
    padding:10px;
    height:100vh;
}
.grid-align{
    background-color: blue;
    padding:3em;
}
.grid-align-1{
    justify-self: left;
    align-self:stretch;
}
.grid-align-1{
    justify-self: center;
    align-self:center;
    /* or use shorthand */
    place-self:center;
}
.grid-align-2{
    justify-self: right;
    align-self:end;
}
.grid-align-3{
    justify-self: end;
    align-self:start;
}
.grid-align-4{
    place-self:end left;
}
.grid-align-5{
    justify-self: stretch;
    align-self: end;
}
.grid-align-6{
    place-self:start center;
}
.grid-order-parent{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: blueviolet;
    padding:10px;
    gap:10px;
    width: 100%;
    max-width:1200px;
    margin:auto;
}
.grid-order{
    padding:3em;
    background-color:black;
    text-align: center;
    font-size:30px;
}
.grid-order-1{
    order:3;
}
.grid-order-3{
    order:1;
}
.grid-order-2{
    order:4;
}
.grid-order-4{
    order:2;
}
.grid-order-5{
    order:6;
}
.grid-order-6{
    order:5;
}